<ul class="navbar">
  <li><a href="/">Home</a></li>
  <li><a href="/search">Search Users</a></li>
  <li><a href="/<%=current_user.username%>">User Profile</a></li>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>